<div class="insert-form">
  <form [formGroup]="AddToDo">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" formControlName="title" placeholder="Title">
      </div>
      <div class="col">
        <input type="text" class="form-control" formControlName="desc" placeholder="Description">
      </div>
      <div class="col-md-2 text-right">
        <button type="submit" class="btn w-100 insert-btn btn-success" (click)="onSubmit()">Insert</button>
      </div>
    </div>
  </form>
</div>
